@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

:root {
  --primary-color: #4caf50;
  --secondary-color: #8bc34a;
  --accent-color: #cddc39;
  --extra-color-1: #ffdecf;
  --extra-color-2: #e27f86;
  --extra-color-3: #717ed4;
  --grey: #4a4a4a;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

/* The index page styling */
main {
  margin: 1rem auto;
  text-align: center;
}

section {
  margin: 2rem auto;
  background-color: var(--extra-color-3);
  padding-top: 10px;
  font-size: 14px;
  width: 80%;
  border-radius: 5px;
}

.angles {
  background: var(--extra-color-3); /* Ensure this variable is defined */
  width: 120%; /* Make it wider than the parent */
  margin-left: -10%; /* Center the wider element */
  margin-right: -10%; /* Center the wider element */
  justify-content: center;
  align-items: center;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0 100%);
  padding: 10px 0 20px 0;
}

/*This is game screen */
#game-area {
  margin: 0 auto;
  height: 616px;
  max-width: 816px;
  background-color: var(--extra-color-1);
  border: 8px solid var(--grey);
  border-radius: 10px;
  position: relative;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.custom-bullets {
  display: flex;
  flex-direction: column;
  list-style-type: disc; /* Default bullet points */
  padding-left: 20px; /* Adjust padding as needed */
}

.custom-bullets li {
  margin-bottom: 10px; /* Add space between list items */
}

.game-area h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

#game-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* play btn styling */
#play-btn {
  background-color: #000;
  cursor: crosshair;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  mask-image: radial-gradient(#000, #fff);
  outline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  --height: 40px;
  --progress: 0px;
  border: 2px solid #fff;
  color: transparent;
  font-weight: 900;
  line-height: var(--height);
  overflow: hidden;
  padding: 0 60px;
  position: relative;
  text-shadow: 0 calc(var(--progress) * -1) #fff,
    0 calc(var(--height) - var(--progress)) var(--accent-color);
  text-transform: uppercase;
  transition: 0.2s;
}

#play-btn:hover {
  --progress: var(--height);
  border-color: var(--primary-color);
}

@media screen and (max-width: 1030px) {
  .game-info {
    width: 95%;
    font-size: 95%;
  }
}

@media screen and (max-width: 768px) {
  .game-info {
    width: 95%;
    font-size: 70%;
  }
}
