@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

:root {
  --primary-color: #4caf50;
  --secondary-color: #8bc34a;
  --accent-color: #cddc39;
  --extra-color-1: #ffdecf;
  --extra-color-2: #e27f86;
  --extra-color-3: #717ed4;
  --grey: #4a4a4a;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

/* The generic styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1,
p {
  color: black;
}

body {
  background-color: #4a4a4a;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header {
  padding: 20px;
  text-align: center;
  max-height: 150px;
  background-color: var(--extra-color-2);
  text-shadow: var(--text-shadow);
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.circles {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  gap: 20px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4a4a4a;
}

header h1 a {
  color: var(--extra-color-1); /* Text color */
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: var(--text-shadow); /* Add text shadow */
  list-style-type: none;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.headLink {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  color: var(--extra-color-1);
}

ul li #links-1:hover,
ul li #links-2:hover,
ul li #links-3:hover {
  font-size: larger;
  color: var(--extra-color-3);
}

/* The footer styling */
footer {
  padding: 20px;
  text-align: center;
  height: 150px;
  background-color: var(--extra-color-2);
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: center;
}
.cats {
  font-size: 1.5rem;
  margin-top: 10px;
}
.fa-github-alt {
  color: var(--extra-color-1);
  font-size: 3rem;
}
.fa-github-alt:hover {
  transform: scale(1.2);
  color: #272727;
}

@media screen and (max-width: 1030px) {
  #header {
    display: flex;
    justify-content: space-evenly;
  }
  #header h1 a {
    font-size: 2.2rem;
    margin: 10px;
  }
  .headLink {
    margin: 10px;
  }
  .circles {
    display: none;
  }

  .cats {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  .fa-github-alt {
    font-size: 2.5rem;
  }
}
