
/*google style import */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

/*  wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #4caf50;
    font-family: 'Silkscreen', sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 20px;
}

h1, p {
    color: black;
}


.social-links i {
    font-size: 150%;
    color: #b16418;
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:15px;
}


.member {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:15px;


}
.member-details {
    padding: inherit;
}


.member-image {
    border-radius: 50%;
    max-height: 120px;
}


.social-links{
    display: flex;
    justify-content: space-evenly;
}
.social-links a {
    padding: 10px;
}
